# ==========================================
# Konfigurasi PDF Tools (Stirling-PDF)
# ==========================================

# Port Aplikasi Web
PORT=8080

# Pengaturan Login / Keamanan
SECURITY_ENABLELOGIN=true
ADMIN_USERNAME=admin
ADMIN_PASSWORD=StirlingPassword123!

# Nama Aplikasi & Bahasa
APP_NAME=PDF Tools
LOCALE=id_ID
