# ==========================================
# Konfigurasi PDF Tools (Stirling-PDF)
# ==========================================

# Port Aplikasi Web (Default: 8880)
PORT=8880

# Pengaturan Login / Keamanan
SECURITY_ENABLELOGIN=true
SECURITY_LOGINMETHOD=all
ADMIN_USERNAME=admin
ADMIN_PASSWORD=StirlingPassword123!

# Integrasi SSO Sipetra (OAuth2)
SECURITY_OAUTH2_ENABLED=true
SECURITY_OAUTH2_ISSUER=https://bpsdemak.com
SECURITY_OAUTH2_PROVIDER=sipetra
SECURITY_OAUTH2_CLIENTID=019fca70-defd-73c4-b5d5-f2ac581a0792
SECURITY_OAUTH2_CLIENTSECRET=Efg9peKx0CFqxC9SgvZI5hqNMdyOgV8MktRo9bSw
SECURITY_OAUTH2_AUTHORIZATIONURI=https://bpsdemak.com/oauth/authorize
SECURITY_OAUTH2_TOKENURI=https://bpsdemak.com/oauth/token
SECURITY_OAUTH2_USERINFOURI=https://bpsdemak.com/api/user
SECURITY_OAUTH2_SCOPES=identity_pegawai:read, employee:read, contact:read, roles:read
SECURITY_OAUTH2_USEASUSERNAME=email
SECURITY_OAUTH2_AUTOCREATEUSER=true
SECURITY_OAUTH2_BLOCKREGISTRATION=false

# Nama Aplikasi, Bahasa & Tema (Default: Light Mode)
APP_NAME=PDF Tools
LOCALE=id_ID
SYSTEM_DEFAULTTHEME=light
